<section class="product-list">
  <h1>MyStore</h1>
  <p class="subtitle">اختر منتجك المفضل وأضِفه إلى السلة</p>

  <div class="products-grid">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      [quantity]="quantities[product.id]"
      (addToCartEvent)="addToCart($event.product, $event.quantity)"
      (viewDetailsEvent)="viewDetails($event)"
      (quantityChangeEvent)="
        onQuantityChange($event.productId, $event.quantity)
      "
    ></app-product-card>
  </div>
</section>
