.error {
  color: red;
  font-size: 0.875rem;
  display: block;
  margin-top: 0.25rem;
}

label {
  display: block;
  margin-bottom: 1rem;
}

label input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}
